@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa886;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}




header {
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
}

header>h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 3em;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.270);
    font-family: var(--fonte-destaque);
}

header  > p {
    font-family: var(--fonte-padrao);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: rgba(0, 0, 0, 0.315);
    color: whitesmoke;
}
body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav > a {
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5;
    text-decoration: none;

}

div.video { 
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 92%;
    height: 92% ;

}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}


main {
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px burlywood;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;

}


main h1 {
    color: #1a5c37;
    font-weight: normal;
    font-family: var(--fonte-android);
    font-size: 1.8;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

    main p {
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        line-height: 1em;
        font-size: 1em;
    }

    main strong {
        color: var(--cor4);
        font-weight: bold;

    }

    main a {
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        background-color: var(--cor1);
        padding: 2px 6px;

    }

    main a:hover {
        text-decoration: underline;
        color: var(--cor4);
    }

    main img {

        width: 100%;
    }

    main img.pequena {
        max-width: 350px;
        display: block;
        margin: auto;
    }
    aside {
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 10px;
    }
    aside > h3 {
        background-color: var(--cor4);
        color: white;
        padding: 10px;
        margin:  -10px -10px 0px  -10px;
        border-radius: 10px 10px  0px 0px;
    }

    aside > ul {
        list-style-type: '\2714\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    }

    footer {
        background-color: #063d1e;
        color: white;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
    }

        footer > p > a  {
      color:white;
      font-weight: bolder;
      text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
            color: var(--cor1);

        }